<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edytuj pojazd</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="text-end mt-3" style="margin-right: 5%;">
        <a>Logged as: {{current_user.username}}!</a>
    </div>
    <div class="container mt-5">
        <h1 class="text-center">Edytuj pojazd</h1>
        <a href="/manage" class="btn btn-secondary mb-3">Powrót</a>
        <a href="/logout" class="btn btn-danger mb-3">Logout</a>
        <form method="POST" action="/edit/{{ car.id }}">
            <div class="mb-3">
                <label for="nazwa_auta" class="form-label">Nazwa Auta</label>
                <input type="text" class="form-control" id="nazwa_auta" name="nazwa_auta" value="{{ car.nazwa_auta }}" required>
            </div>
            <div class="mb-3">
                <label for="data_ubezpieczenia" class="form-label">Data Ubezpieczenia</label>
                <input type="date" class="form-control" id="data_ubezpieczenia" name="data_ubezpieczenia" value="{{ car.data_ubezpieczenia }}" required>
            </div>
            <div class="mb-3">
                <label for="data_przegladu" class="form-label">Data Przeglądu</label>
                <input type="date" class="form-control" id="data_przegladu" name="data_przegladu" value="{{ car.data_przegladu }}" required>
            </div>
            <div class="mb-3">
                <label for="data_wymiany_oleju" class="form-label">Data Wymiany Oleju</label>
                <input type="date" class="form-control" id="data_wymiany_oleju" name="data_wymiany_oleju" value="{{ car.data_wymiany_oleju }}" required>
            </div>
            <div class="mb-3">
                <label for="kilometry_wymiany_oleju" class="form-label">Kilometry Wymiany Oleju</label>
                <input type="number" class="form-control" id="kilometry_wymiany_oleju" name="kilometry_wymiany_oleju" value="{{ car.kilometry_wymiany_oleju }}" required>
            </div>
            <div class="mb-3">
                <label for="aktualny_przebieg" class="form-label">Aktualny Przebieg</label>
                <input type="number" class="form-control" id="aktualny_przebieg" name="aktualny_przebieg" value="{{ car.aktualny_przebieg }}" required>
            </div>
            <button type="submit" class="btn btn-success">Zapisz zmiany</button>
        </form>
    </div>
</body>
</html>
