<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Spraw i Wydarzeń</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">  
</head>
<body>
    <div class="text-end mt-3" style="margin-right: 5%;">
        {% if current_user.is_authenticated %}
            <a>Logged as: {{current_user.username}}!</a>
        {% else %}
            <a>User not logged -> Please Login or contact Administrator</a>
        {% endif %}
    </div>
    <div class="container mt-5">
        <h1 class="text-center">Lista spraw i wydarzeń</h1>
        {% if current_user.is_authenticated %}
            <a href="/manage_tasks" class="btn btn-primary mb-3">Zarządzaj sprawami</a>
            <a href="/" class="btn btn-secondary mb-3">Flota</a>
            <a href="/logout" class="btn btn-danger mb-3">Logout</a>
        {% else %}
            <a href="/" class="btn btn-secondary mb-3">Flota</a>
            <a href="/login" class="btn btn-warning mb-3">Login</a>
        {% endif %}
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th>Nazwa sprawy</th>
                    <th>Data zakończenia</th>
                </tr>
            </thead>
            <tbody>
                {% for task in important_tasks %}
                <tr>
                    <td>{{ task.task_name }}</td>
                    <td class="{{ task.task_date|get_color }}">{{ task.task_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
